<!DOCTYPE html>
<html ng-app="cuestionario">
<head>
	<script src="../resources/js/angular.min.js"></script>
	<script src="../resources/js/ControladorCuestionario.js"></script>
	<title>Cuestionario</title>
</head>
<body>
	<div ng-controller="Controlador">
			<div ng-repeat="pregunta in preguntas">
				<span>{{pregunta.texto}}</span>
				<div ng-repeat="respuesta in pregunta.respuestas">
					<input type="radio" name="Pregunta{{pregunta.id}}" id="pregunta{{pregunta.id}}{{respuesta.id}}" ng-model="pregunta.respuesta" ng-change="Validar(pregunta)"> {{respuesta.id}}</input>
				</div>
			</div>
	</div>
</body>
</html>