<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" id="WebApp_ID" version="3.1">
  <display-name>Web</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  
  <context-param>
  	<param-name>contextConfigLocation</param-name>
  	<param-value>classpath:configuracion.xml</param-value>
  </context-param>
  
		
	<listener>
		<listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
  	</listener>
  	
  	<!-- Esto es para que funcione el servicio web -->
  	<servlet>
  		<!-- Declaracion del servlet rest -->
  		<servlet-name>Rest</servlet-name>
  		<servlet-class>com.sun.jersey.spi.container.servlet.ServletContainer</servlet-class>
  		<init-param>
  			<param-name>com.sun.jersey.config.property.packages</param-name>
  			<!-- Paquete donde se expone los servicios web -->
  			<param-value>co.udea.edu.iw.ws</param-value>
  		</init-param>
  		<!-- Apenas se inicie el sistema va a buscar el paquete y carga los servicios web en memoria 
  		 carga primero los que tengan load-on-startup 1-->
  		<load-on-startup>1</load-on-startup>
  	</servlet>
  	
  	<servlet-mapping>
  		<servlet-name>Rest</servlet-name>
  		<!-- Ruta a la cual responde el servlet Rest -->
  		<url-pattern>/rest/*</url-pattern>
  	</servlet-mapping>
  	
</web-app>